# By default, run all services
COMPOSE_PROFILES=nango,signoz,otel-collector,jaeger

# REQUIRED: BASE64-256BIT-KEY encryption key (generate with: openssl rand -base64 32)
# Once set, it cannot be changed
NANGO_ENCRYPTION_KEY=<REPLACE_WITH_BASE64_256BIT_ENCRYPTION_KEY>

# If you are deploying to cloud, replace these with <your_server_url>
# NANGO_SERVER_URL=http://<your_server_url>:3050
# NANGO_PUBLIC_CONNECT_URL=http://<your_server_url>:3051

# Unset these to remove username and password for Nango Dashboard
NANGO_DASHBOARD_USERNAME=admin@example.com
NANGO_DASHBOARD_PASSWORD=adminADMIN!@12

# Unset these to remove username and password for SigNoz Dashboard
SIGNOZ_ADMIN_EMAIL=admin@example.com
SIGNOZ_ADMIN_PASSWORD=adminADMIN!@12
